.container {
  display: flex;
  justify-content: space-between;
  justify-items: center;
  border-radius: 14px;
  background-color: #ff6d28;
  margin: 5% 2%;
  padding: 0% 3%;
}

li {
  list-style: none;
}
.mealImage {
  border-radius: 50%;
  height: 20%;
  width: 20%;
  padding: 2px 2px;
}

.priceStyle {
  padding-top: 3%;
}
.featurePriceStyle {
  text-decoration: line-through;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
  }
  .priceStyle {
    padding-top: 0%;
  }
  .mealImage {
    align-self: center;
  }
}
