.container {
  justify-content: center;
  display: flex;
  margin: 0 5rem;
  padding: auto;
}

@media screen and (max-width: 700px) {
  .container {
    flex-direction: column;
    margin: 0 1rem;
  }
}
